body{
  margin: 100px;
  margin-top: 0px;
}

#innercontent1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#innercontent2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#contentDialogue{
  display : none
}

#option{
  padding : 10px;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button{
  background-color: #a07e77;
  border : 0px;
  padding: 7px;
  color : #fff;
  border-radius: 15px;

}

.button:hover{
  background-color: #8a6f6a;
}

#cours{
  background-color: #f2f2f2;
  padding : 15px;
}
#resultat{
  background-color: #e9dfdd;
  padding: 15px;
}
