body{
  margin: 500;
  padding: 500;
}

#innercontent1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#innercontent2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#contentPconnection{
  display : none
}
